<section>
  <h3 class="text-gray-700 text-xl text-center font-bold sm:text-4xl">
    Frequently Asked Questions
  </h3>
  <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="grid w-full grid-cols-1 gap-12 mx-auto lg:grid-cols-3">
      <div class="p-6">
        <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">What
          is Docker and why is it important for managing containers?</h1>
        <p class="mx-auto text-base leading-relaxed text-gray-500">Docker is a platform for developing, deploying, and
          running applications using containers. Containers provide a way to package up an application and all of its
          dependencies into a single image that can be run consistently across different environments. This makes it
          easier to manage and deploy applications, and enables better collaboration between developers and operations
          teams.</p>
      </div>
      <div class="p-6">
        <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">How
          does this Angular project help manage Docker containers, images, volumes, and networks?</h1>
        <p class="mx-auto text-base leading-relaxed text-gray-500">This Angular project provides a user interface for
          managing Docker containers, images, volumes, and networks, making it easier for developers and operators to
          interact with Docker and manage their applications. The project includes features such as creating and
          deleting containers, uploading and downloading images, and configuring network settings.</p>
      </div>
      <div class="p-6">
        <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">How
          can I install and use this Angular project for managing Docker?</h1>
        <p class="mx-auto text-base leading-relaxed text-gray-500">The project can be installed using npm or yarn, and
          can be run using the Angular CLI. Once the project is installed, you can configure it to connect to your
          Docker daemon and start using the interface to manage your containers, images, volumes, and networks.</p>
      </div>
      <div class="p-6">
        <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">Can I
          use this project with other containerization platforms besides Docker?</h1>
        <p class="mx-auto text-base leading-relaxed text-gray-500"> At this time, the project is specifically designed
          to work with Docker. However, many of the concepts and approaches used in the project could potentially be
          applied to other containerization platforms.</p>
      </div>
      <div class="p-6">
        <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">How
          can I troubleshoot issues with Docker containers using this project?</h1>
        <p class="mx-auto text-base leading-relaxed text-gray-500"> The project includes features for inspecting and
          debugging running containers, as well as monitoring resource usage and logs. In addition, the project includes
          documentation and resources for troubleshooting common issues with Docker containers and networks.</p>
      </div>
      <div class="p-6">
        <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">How
          does this Angular project handle security for Docker containers?</h1>
        <p class="mx-auto text-base leading-relaxed text-gray-500">he project includes features for configuring and
          managing security settings for Docker containers, including setting up network isolation and user access
          controls. In addition, the project includes documentation and resources for securing Docker containers and
          networks, and best practices for managing security in containerized environments.</p>
      </div>
    </div>
  </div>
</section>
