<div class="max-w-screen-xl mx-auto px-4 md:px-8">
  <div class="items-start justify-between md:flex">
    <div class="max-w-lg">
      <h1 class="max-w-5xl text-2xl font-bold tracking-tighter text-neutral-600 md:text-5xl lg:text-6xl lg:max-w-7xl">
        Containers. </h1>
      <p class="text-gray-600 mt-2">
        List of all containers present in your machine regardless of it's status
      </p>
    </div>
  </div>
  <div class="mt-12 relative h-max overflow-auto">
    <table class="w-full table-auto text-sm text-left">
      <thead class="text-gray-600 font-medium border-b">
        <tr>
          <th class="py-3 pr-6">Id</th>
          <th class="py-3 pr-6">Name</th>
          <th class="py-3 pr-6">ImageName</th>
          <th class="py-3 pr-6">State</th>
          <th class="py-3 pr-6">Status</th>
          <th class="py-3 pr-6">Created</th>
          <th class="py-3 pr-6">Command</th>
          <th class="py-3 pr-6"></th>
        </tr>
      </thead>
      <tbody class="text-gray-600 divide-y">
        <tr *ngFor="let item of containers ">
          <td class="pr-6 py-4 whitespace-nowrap">{{item.id | truncateString: 20}}</td>
          <td class="pr-6 py-4 whitespace-nowrap">{{item.names[0]}}</td>
          <td class="pr-6 py-4 whitespace-nowrap">{{item.image}}</td>
          <td class="pr-6 py-4 whitespace-nowrap">
            <span class="px-3 py-2 rounded-full font-semibold text-xs" [ngClass]="{
              'text-red-600 bg-red-50':item.state == 'dead',
              'text-blue-600 bg-blue-50':item.state == 'paused',
              'text-green-600 bg-green-50':item.state == 'running'
              }">{{item.state}}</span>
          </td>
          <td class="pr-6 py-4 whitespace-nowrap">{{item.status}}</td>
          <td class="pr-6 py-4 whitespace-nowrap">{{item.created.toLocaleString('en-US', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
            hour: '2-digit',
            minute: '2-digit',
            hour12: false
            })}}</td>
          <td class="pr-6 py-4 whitespace-nowrap">{{item.command}}</td>
          <td class="text-right whitespace-nowrap">
            <a class="py-1.5 px-3 text-gray-600 hover:text-gray-500 duration-150 hover:bg-gray-50 border rounded-lg">
              Manage </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
