<div class="max-w-screen-xl mx-auto px-4 md:px-8">
  <div class="items-start justify-between md:flex">
    <div class="max-w-lg">
      <h3 class="text-gray-800 text-xl font-bold sm:text-2xl">
        All Containers
      </h3>
      <p class="text-gray-600 mt-2">
        List of all containers present in your machine regardless of it's status
      </p>
    </div>
  </div>
  <div class="mt-12 relative h-max overflow-auto">
    <table class="w-full table-auto text-sm text-left">
      <thead class="text-gray-600 font-medium border-b">
        <tr>
          <th class="py-3 pr-6">Id</th>
          <th class="py-3 pr-6">Name</th>
          <th class="py-3 pr-6">Image</th>
          <th class="py-3 pr-6">Status</th>
          <th class="py-3 pr-6">Created</th>
          <th class="py-3 pr-6">Command</th>
          <th class="py-3 pr-6">Ports</th>
          <th class="py-3 pr-6"></th>
        </tr>
      </thead>
      <tbody class="text-gray-600 divide-y">
        <tr *ngFor="let item of tableItems ">
          <td class="pr-6 py-4 whitespace-nowrap">{{item.id}}</td>
          <td class="pr-6 py-4 whitespace-nowrap">{{item.name}}</td>
          <td class="pr-6 py-4 whitespace-nowrap">{{item.plan}}</td>
          <div *ngIf="item.status == 'Active'; then running else notRunning"></div>
          <ng-template #running>
            <td class="pr-6 py-4 whitespace-nowrap">
              <span class="px-3 py-2 rounded-full font-semibold text-xs text-green-600 bg-green-50"> Running </span>
            </td>
          </ng-template>
          <ng-template #notRunning>
            <td class="pr-6 py-4 whitespace-nowrap">
              <span class="px-3 py-2 rounded-full font-semibold text-xs text-red-600 bg-red-50">Exited</span>
            </td>
          </ng-template>
          <td class="pr-6 py-4 whitespace-nowrap">{{item.date}}</td>
          <td class="pr-6 py-4 whitespace-nowrap">{{item.price}}</td>
          <td class="pr-6 py-4 whitespace-nowrap">{{item.price}}</td>
          <td class="text-right whitespace-nowrap">
            <a class="py-1.5 px-3 text-gray-600 hover:text-gray-500 duration-150 hover:bg-gray-50 border rounded-lg">
              Manage </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
